*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  font-family: monospace;
  width: 100%;
  background-color: black;
}
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}


body{
  @include flexCenter;
  gap: 50px;

  &:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.5;
  }
  & .box.box:hover{
    transform: scale(1.2) !important;
    opacity: 1;
  }
  .box{
    width: 200px;
    height: 200px;
    transition: all 0.3s linear;
 
  }
  .red{
    background-color: rgba(255, 0, 0, 0.483);
  }
  .blue{
    background-color: rgba(0, 0, 255, 0.483);
  }
  .green{
    background-color: rgba(0, 128, 0, 0.483);
  }

}
