*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  font-family: Arial, sans-serif;
  width: 100%;
  background-color: black;
}

main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.outer{
  width : 100%;
  height : 25px;
  background-color : gainsboro;
  border-radius : 20px;


}

.inner{
  width : 0%;
  height : 100%;
  background-color : green;
  border-radius : 20px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.bottom button{
  padding : 15px 30px;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}

.bottom h1{
  font-size: 50px;
}