*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body ,html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  width: 100%;
}

#main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor{
  display: relative;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: all ease 0.1s;
  mix-blend-mode: difference;

}
#main h1{
  color: #fff;
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
}