*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  background-color: #333;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.elem{
  width: 700px;
  height: 150px;
  background-color: violet;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}
button{
  padding: 20px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: orange;
}
.elem h3{
  color: greenyellow;
  font-family: sans-serif;
  font-size: 40px;
}
