*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body,html {
  font-family: monospace;
  background-color: white;
  width: 100%;
  height: 100%;

}

.Home {
  // background-color: orange;
  width: 100%;
  height: 300vh;

  
  .Section_1 {
    // background-color: yellow;
    width: 100%;
    height: 100vh;

    .Hero{

        // background-color: lightgray;
        width: 100%;
        height: 80vh;
        position: relative;
        
        .hero-content-1{
          // background-color: lightgreen;
          color: white;
          width: 800px;
          position:absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
          @include center-flex;
          
          & h1{
            margin-bottom: 20px;
            font-size: 3rem;
            font-weight: 200;
            line-height: 1;
            text-align: center;
          }
          
        }
        .hero-content-2{
          // background-color: lightcoral;
          color: white;
          width: 600px;
          position:absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1rem;
          @include center-flex;
          
          & p{
            padding: 10px;
            margin-bottom: 20px;
            font-size: 1rem;
            font-weight: 100;
            line-height: 1.5;
            text-align: center;


          }
        }
        .start-your-journey{
          background-color: black;
          width: 300px;
          height: 50px;
          position:absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1rem;
          @include center-flex;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          padding: 10px 20px;
          &:hover{
            background-color: darkgray;
          }
          .start-journey-btn{
            padding: 10px 10px;
            font-size: 1.3rem;
            font-weight: 100;
            border: none;
            outline: none;
            background: none;
            color: white;
            
          }
        }
        
        
        
        .image-section{
          width: 100%;
          height: 100%;
          padding: 30px;
          position: relative;
          .left-corner{ 
            position: absolute;
            bottom: 40px;
            left: 20px;
            width: 400px;
            height: 100px;
            // background-color: lightblue;
            display: flex;
            flex-direction: row;
            gap: 15px;
            padding: 23px;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            color: rgba(245, 245, 245, 0.532);
      
            .left-corner-img img{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          
    .Hero-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      padding: 10px;
    }
  
  }
}

    .navigation-bar {
      // background-color: pink;
      width: 100%;
      height: 10vh;
      padding: 1rem;
      
      .navigation-elements {
        padding: 1rem;
        // background-color: cyan;
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
          font-weight: 100;
          font-size: 1rem;

        }
        
        


.about-section {
  // background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 20px;
  width: 60%;
  font-size: 1.0rem;
  color: black;
}

.about-section a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.book-button{
  padding: 1rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 100;
}

}


  }
} 
.Section_2{
  // background-color: green;
  width: 100%;
  height: 100vh;
  border-bottom: 2px solid lightgray;

  
  .section-2a{
    // background-color: lightgreen;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 3rem;
    gap: 20px;

    .about-content{
      // background-color: lightgray;
      width: 60%;
      height: 90px;
      font-size: 1.2rem;
    }

    .about-button{
      height: 40px;
      width: 120px;
      border: none;
      outline: none;
      background: none;
      border: 2px solid black;
      border-radius: 20px;

    }
  }

  .section-2b{
    // background-color: lightblue;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem 3rem;
    gap: 30px;
    .card1{
      background-color: rgba(8, 8, 44, 0.863);
      width: 35%;
      height: 100%;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .card1-content{
        color: white;
        font-size: 1.8rem;
        font-weight: 100;
      }

      .ri-government-line{
        font-size: 3rem;
        color: white;
      }

      .game-modes{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: left;
        align-items: center;
        .game-mode{
          text-align: center;
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.6);
          font-weight:100 ;
          font-size: 1.5rem;
        }
      }
      .game{
        width: 80px;
        height: 30px;
        background-color: skyblue;
        border-radius: 20px;

      }
  }
    .card2{
      background-color: coral;
      width: 35%;
      height: 100%;
      border-radius: 20px;
      position: relative;
      display: flex;
      
      .card2-img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
      }
      .private-btn{
        width: 200px;
        height: 40px;
        border: none;
        outline: none;
        background: none;
        border: 2px solid black;
        border-radius: 50px;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50%;

        /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  
      }
      

  }
    .card3{
      background-color: rgb(216, 216, 216);
      width: 35%;
      height: 100%;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

  & > h1{
    color: black;
    font-size: 4rem;
    font-weight: 100;
  }
  & > h3{
    color: rgba(0, 0, 0, 0.504);
    font-size: 1.5rem;
    font-weight: 100;
  }
  & > p{
    color: rgba(0, 0, 0, 0.539);
    font-size: 0.9rem;
    font-weight: 100;

  }
  
}
}

.section-2c{
  // background-color: lightcoral;
  width: 100%;
  height: 30vh;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  top: 0;
  font-weight: 100;
  & > p{
    font-size: 2rem;
    font-weight: 100;
    color: black;
  }


  .rating{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    text-align: center;
    // background-color: white;

    .hours h1{
      font-size: 3rem;
      font-weight: 100;
      color: black;
      font-weight: 100;
    }
    .hours h3{
      font-size: 1rem;
      font-weight: 100;
      color: gray;
  }
    .retention h1{
      font-size: 3rem;
      font-weight: 100;
      color: black;
      font-weight: 100;

    }
    .retention h3{
      font-size: 1rem;
      font-weight: 100;
      color: gray;
  }
    .members h1{
      font-size: 3rem;
      font-weight: 100;
      color: black;
      font-weight: 100;

    }
    .members h3{
      font-size: 1rem;
      font-weight: 100;
      color: gray;
  }
  .tournaments h1{
      font-size: 3rem;
      font-weight: 100;
      color: black;
      font-weight: 100;
  }
    .tournaments h3{
      font-size: 1rem;
      font-weight: 100;
      color: gray;
}}
}

}
.Section_3{
  // background-color: purple;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding: 4rem 3rem;
  
  
  .section-3a{
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    // background-color: lightgray;

    .section-3-heading{
      font-size: 2rem;
      font-weight: 100;
      color: black;
      margin-bottom: 50px;

    }
    .service-btn{
      width: 150px;
      height: 40px;
      border: none;
      outline: none;
      background: none;
      border: 2px solid grey;
      border-radius: 20px;
      color: black;
      font-weight: 100;
    }
    .explore-btn{
      width: 150px;
      height: 40px;
      border: none;
      outline: none;
      background: black;
      border-radius: 20px;
      color: white;
      font-weight: 100;
    }
  }
  .section-3b{
    height: 50%;
    width: 30%;
    background-color: lightblue;
    background-image: url(https://images.unsplash.com/flagged/photo-1572987337946-de0a00159d91?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    border-radius:30px ;
    padding: 20px;
    .card-1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 200px;
      position: relative;

      .bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        // background-color: violet;
        position: absolute;
        justify-content: space-between;
        top: 260px;
        .card-heading{
          color: white;
          font-size: 1rem;
          font-weight: 100;
          // background-ยง: aquamarine;
          width: 60%;
        }

        .arrow-left{
          background-color: black;
          height: 45px;
          width: 45px;
          padding: 5px;
          color: rgba(255, 255, 255, 0.621);
          font-size:30px ;
          border-radius: 50%;
        }
      }
      }


    .training-btn{
        width: 200px;
        height: 40px;
        border: none;
        outline: none;
        background: none;
        border: 2px solid black;
        border-radius: 50px;
        color: white;
      background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
.section-3c{
  height: 50%;
  width: 30%;
  // background-color: lightcoral;
  display: flex;
  flex-direction: column;

  .card-2{
    padding: 20px;
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: 30px;
    background-image: url(https://images.unsplash.com/photo-1625480859582-03ea1d0e88fe?q=80&w=2161&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

    .court-btn{
              width: 200px;
        height: 40px;
        border: none;
        outline: none;
        background: none;
        border: 2px solid black;
        border-radius: 50px;
        color: white;
      background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    

    }
    .cart-content{
      color: white;
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
  .bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 40px;

    .arrows{
      display: flex;
      flex-direction: row;
      gap: 20px;

      .left,.right{
        margin-top: 30px;
        border: 1px solid rgba(0, 0, 0, 0.438);
        background-color: white;
        height: 45px;
        width: 45px;
        padding: 5px;
        font-size:30px ;
        border-radius: 50%;
      }



}



  }
}

}}