*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@property --rotate{
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes borderAnimation {
  from{
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

body,html{
  height: 100%;
  width: 100%;
  font-family:monospace;
  background-color: black;
}
body{
  @include center-flex;

  .box{
    width: 450px;
    height: 700px;
    // border: 5px solid whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    // box-shadow: 0 0 30px red;
    background:linear-gradient(rgba(0, 0, 0, 0.988)) padding-box,
    conic-gradient(from var(--rotate) , #e72020, #223057, #e72020,   #223057) border-box;
    border: 0px solid rgba(245, 245, 245, 0);
    animation: borderAnimation 2s linear infinite;
    animation-play-state: paused;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0px #e72020;
    color: whitesmoke;
    text-shadow: 0 0 20px #e72020;
    &:hover{
      animation-play-state: running;
      border: 5px solid rgba(245, 245, 245, 0);
      box-shadow: 0 0 70px #e72020;
      color: #e72020;
      text-shadow: 0 0 0px #e72020;



    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }

    .inner-box{
      height: 60%;
      width: 80%;
      // border: 3px solid white;
      border-bottom: 2px solid whitesmoke;
    }
    p{
      color: whitesmoke;
      text-align: center;
      font-size: 1.2rem;
    }
    .title{
      color: whitesmoke;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
