*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  width: 100%;
}

body{
  background-color: #000000;
    display: flex;
  justify-content: center;
  align-items: center;

}

main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#box{
  height: 500px;
  width: 500px;
  background-color: rgb(100,100,100);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#button{
  padding : 10px 40px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: rgb(50,50,50);
  color: white;
  border: none;
  border-radius: 20px;
}

