*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: lightblue;
}

.nav{
  background-color: navy;
  color: white;
  padding: 10px;
  text-align: center;
}
.footer{
  background-color: darkblue;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.section{
  min-height: calc(100vh - 120px);
  padding: 20px;
  background-color: red;
}
.hero{
  background-color: orange;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px 20px;
}