*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;

}

html, body{
  height: 100%;
  width: 100%;
}

#main{
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1{
  height: 100px;
  width: 400px;
  background-size: cover;
  background-color: black;
  border-radius: 8px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVs5dGXhGayblmcEXcEVzRxzTNFBUaYmMKkw&s);
  background-size: cover;
  background-position: center;
  font-size: 20px;

}

