*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  width: 100%;
  height: 100%;
  background-color: #000000;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 300px;
  height: 420px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}

.card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  
}

.card h1{
  text-align: center;
  padding: 10px 0;
}

.card i{
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
  font-size: 35px;
  background-image: linear-gradient(45deg, #f09433, #dc2743, #bc1888);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 1;
}