@font-face {
    font-family: 'D-DIN Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Regular'), url('D-DIN.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN DIN-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Italic'), url('D-DIN-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN DIN-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Bold'), url('D-DIN-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Condensed Regular'), url('D-DINCondensed.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Exp Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp Regular'), url('D-DINExp.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Exp DINExp-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp DINExp-Italic'), url('D-DINExp-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Condensed DINCondensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Condensed DINCondensed-Bold'), url('D-DINCondensed-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Exp DINExp-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp DINExp-Bold'), url('D-DINExp-Bold.woff') format('woff');
    }


    /* #### Generated By: http://font.download #### */

    @font-face {
    font-family: 'Roboto Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Regular'), url('RobotoMono-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Italic'), url('RobotoMono-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Thin'), url('RobotoMono-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Thin Italic'), url('RobotoMono-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Light';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Light'), url('RobotoMono-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Light Italic'), url('RobotoMono-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Medium'), url('RobotoMono-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Medium Italic'), url('RobotoMono-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Bold'), url('RobotoMono-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Bold Italic'), url('RobotoMono-BoldItalic.woff') format('woff');
    }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 390px 1fr 390px;
  grid-template-rows: 300px  200px 1fr 170px;
  grid-template-areas: "div1 div2 div3"
                       "div4 div2 div3"
                       "div4 div2 div6"
                       "div4 div5 div6";
  gap: 20px;
  padding: 20px;
  background-color: black;

}

#div1 h4{
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto Mono Bold', monospace;
  letter-spacing: 4px;
  text-align: left;
  color: white;
}

#div1{
  grid-area: div1;
  background-color: red;
    border-radius: 30px;
background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjQtYWstNTQyM18zLmpwZw.jpg);
    background-size: cover;
    background-position: center;
    color: white;
      border: whitesmoke 2px solid;

    
}



#div2 h1{
  font-size: 120px;
  padding: 0%;
  font-family: 'Roboto Mono Bold', monospace;
  letter-spacing: 30px;
  text-align: center;
  color: transparent;
  -webkit-text-fill-color: linear-gradient(90deg, #E44D3E, #FF7823,#FFCD57, #C6E7C9, #3BE5FF, #1B76E3,#001BCC);
  -webkit-text-stroke: 4px #ffffff;
  text-shadow: none;
}
#div2{
  border: whitesmoke 2px solid;

  padding: 20px;
  overflow: hidden;

          background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjQtYWstNTQyM18zLmpwZw.jpg);

  grid-area: div2;
  background-color: burlywood;
    background-size: cover;
    background-position: center;

  border-radius: 30px;
}
#div3{
  grid-area: div3;
  background-color: greenyellow;
  border-radius: 30px;
    background-size: cover;
    background-position: center;
      border: whitesmoke 2px solid;
        background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjQtYWstNTQyM18zLmpwZw.jpg);



}

#div3 h4{
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto Mono Bold', monospace;
  letter-spacing: 4px;
  text-align: left;
  color: white;
}
#div4{
   padding: 20px;
   color: white;
  grid-area: div4;
  background-color: violet;
  border-radius: 30px;
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjQtYWstNTQyM18zLmpwZw.jpg);
    background-size: cover;
    background-position: center;
      border: whitesmoke 2px solid;

}

#div4 h4{
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto Mono Bold', monospace;
  letter-spacing: 4px;
  text-align: left;
  color: white;
}
#div5{
  grid-area: div5;
  background-color: aqua;
  border-radius: 30px;
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjQtYWstNTQyM18zLmpwZw.jpg);
    background-size: cover;
    background-position: center;
      border: whitesmoke 2px solid;

        color: white;
          padding: 20px;
          position: relative;



}

#div5 h4{
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto Mono Bold', monospace;
  letter-spacing: 4px;
  text-align: left;
  color: white;
  position: absolute;
  justify-content: center;
  top: 0;

}
#div6{
  grid-area: div6;
  background-color: blue;
  border-radius: 30px;
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjQtYWstNTQyM18zLmpwZw.jpg);
    background-size: cover;
    background-position: center;
      border: whitesmoke 2px solid;
        color: white;
          padding: 20px;
          position: relative;
          justify-content: center;
          align-items: center;



}


#div6 h4{
  position: absolute;
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto Mono Bold', monospace;
  letter-spacing: 4px;
  text-align: left;
  color: white;
}