    @font-face {
    font-family: 'D-DIN Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Regular'), url('D-DIN.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN DIN-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Italic'), url('D-DIN-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN DIN-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Bold'), url('D-DIN-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Condensed Regular'), url('D-DINCondensed.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Exp Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp Regular'), url('D-DINExp.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Exp DINExp-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp DINExp-Italic'), url('D-DINExp-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Condensed DINCondensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Condensed DINCondensed-Bold'), url('D-DINCondensed-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'D-DIN Exp DINExp-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp DINExp-Bold'), url('D-DINExp-Bold.woff') format('woff');
    }


    /* #### Generated By: http://font.download #### */

    @font-face {
    font-family: 'Roboto Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Regular'), url('RobotoMono-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Italic'), url('RobotoMono-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Thin'), url('RobotoMono-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Thin Italic'), url('RobotoMono-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Light';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Light'), url('RobotoMono-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Light Italic'), url('RobotoMono-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Medium'), url('RobotoMono-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Medium Italic'), url('RobotoMono-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Bold'), url('RobotoMono-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Bold Italic'), url('RobotoMono-BoldItalic.woff') format('woff');
    }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}


#main{
  height: 1000%;
  width: 100%;
  background-color: transparent;
  display: flex;
  position: relative;
}

.logo-icon img{
height: 50px;
width: 160px;
}
#nav{
  padding: 9px 33px;
  display: flex;
  gap: 20px;
  height: 70px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}
#nav h3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'D-DIN Regular', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 8px;
  text-transform: uppercase;
}

#timer{
  margin-left:25px;
  margin-top: 10px;
  height: 35px;
  width: 250px;
  display: flex;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  padding: 5px 10px;
}
#timer h3{
  color: white;
  font-family: 'D-DIN Regular', sans-serif;
  font-size: 10px;

  text-transform: uppercase;
}



#hero {
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
  

  video {
    height: 100vh;
    width: 178vh;
    object-fit: cover;
    position: absolute;
  }

}

#bottom{
position: absolute;
  top: 0;
z-index: 1;
rotate: 180deg;
  height: 100px;
  width:1450px;
  background-color: black;
  background: linear-gradient(transparent, black);
  padding: 0px 33px;
}

#top{
  position: absolute;
  top: 89vh; 
  z-index: 1;
  height: 104px;
  width:1450px;
  background-color: black;
  background: linear-gradient(transparent, black);
  padding: 0px 33px;
}
#sep{
  position: absolute;
  z-index: 2;
  top: 100vh;
  width: 100%;
  height: 200px;
  background-color: black;
  background: linear-gradient(black, transparent);
}

#mars video{
  height: 120vh;
  width: 120vh;
  object-fit: cover;
  position: absolute;
  top: 101vh;
  z-index: 1;
  left: 660px;
}

#floating{
  position: absolute;
  top:101vh;
  left:0;
  height: 120vh;
  width: 120vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
text-align: left;
padding: 20px;
}
#floating h1{
  color: rgba(240, 240, 240);
  font-family: 'Roboto Mono Bold', monospace;
  font-size: 45px;
  text-transform: uppercase;
  margin-left: 100px;
  text-align: left;
  z-index: 5;
  margin-bottom: 20px;


}

#floating h5{
  color: rgba(217, 217, 225);
  font-family: 'D-DIN Regular', sans-serif;
  text-align: left;
  margin-left: 100px;
  line-height: 20px;
  font-size: 15px;

  font-weight: 500;
  z-index: 5;
  width: 700px;


}
#floating button{
  margin-left: 110px;
  margin-top: 20px;
  height: 60px;
  width: 120px;
  color: white;
  font-weight: 100;
  font: 12px 'D-DIN Regular', sans-serif;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
i{
  margin-left: 10px;
}

#image{
  position: absolute;
  top: 220vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Revolutionizing_Space_Tech_Desktop_ec67ad03c2.jpg);
  background-size: cover;
  background-position: center;
  z-index: 4;

}


#text{
  position: absolute;
  z-index: 7;
  top: 230vh;
  right:10px;

}
#text h1{
  font-family: 'Roboto Mono Bold', monospace;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 20px;
    color: rgba(240, 240, 240);

  width: 600px;
}
#text h5{
  font-family: 'D-DIN Regular', sans-serif;
    width: 730px;
    color: rgba(240, 240, 240);
    margin-bottom: 40px;
    font-weight: 100;
}


#learn{
  position: absolute;
  margin-left: 110px;
  margin-top: 20px;
  height: 60px;
  width: 150px;
  color: white;
  font-weight: 100;
  font: 12px 'D-DIN Regular', sans-serif;
  background-color: rgba(0, 0, 0, 0.335);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  right: 580px;
  overflow: hidden;
}

#right{
  background-color: brown;
  position: absolute;
  height: 100vh;
  width: 70%;
  z-index: 5;
  left: 50%;
  top: 220vh;
  background: linear-gradient(to left, black, transparent);
}


