*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
}

:root{
  --x:200px;
  --y:200px;
  
}
body{
  background-image: url(https://images.unsplash.com/photo-1647546629798-eacfbb8a72db?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
.box{
  height: 100%;
  width: 100%;
background: radial-gradient(200px at var(--x) var(--y),  rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.819));
}

