*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  background-color: gray;
}


body{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.outer{
  position: relative;
}

.outer .key{
  height: 300px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.key h1{
  font-size: 20px;
  text-align: center;
}
.inner{
  position: absolute;
  z-index: 1;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#piano{
  position: absolute;
}

.black-key{  
  position: relative;
  top: 0;
  left: 30px;
  z-index: 1;
  height: 200px;
  width: 50px;
  background-color: black;  
  border-radius: 10px;
}

.black-key h1{
  color: white;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#piano {
  display: flex;
  gap: 10px;
}

.outer {
  position: relative;   /* black key is positioned relative to this */
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.black-key {
  height: 200px;
  width: 60%;
  background: black;
  border-radius: 10px;
  z-index: 2;
}
