*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  font-family: monospace;
  width: 100%;
  background-color: #222;
}
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  @include flexCenter;
  // justify-content: space-evenly;
  anchor-name: --random-anchor;
  .box{
    height: 200px;
    width: 200px;  
    border-radius: 10px;
    &:hover{
      anchor-name: --random-anchor;
    }
  }
  .red{
    background-color: rgba(255, 0, 0, 0.482);
  }
  .blue{
    background-color: rgba(0, 0, 255, 0.482);

  }
  .green{
    background-color: rgba(0, 128, 0, 0.482);
  }

  .anchor{
    background-color: rgb(245, 245, 245);
    border: 20px;
    position: absolute;

    border-radius: 10px;
    position-anchor: --random-anchor;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    transition: all 0.3s linear;
    mix-blend-mode: exclusion;

  }
}